html, #root, body {
    height: 100%;
}

@media (max-width: 768px) {
    html {
        min-height: calc(env(safe-area-inset-bottom) + 100%)
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%
}

.main__header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.main__logo {
    color: white;
    display: flex;
    align-items: center
}

.main__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    flex-direction: column
}

.main__form {
    text-align: center;
    padding: 0 20px;
    width: 100%;
    max-width: 768px;
}

.main__recaptcha {
    display: flex;
    justify-content: center;
}

.main__button {
    min-width: 200px;
}

.main__alert {
    text-align: center;
    padding: 0 20px;
    margin-top: 20px
}

.main__block-info {
    margin-top: 20px
}

.main__footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}